@page
@model MyApp.Namespace.DetailsModel
@{
    ViewData["Title"] = "Detalle de persona";
}

<h1>Detalle de persona</h1>
<div>
    <dl class="row">
        <dt class="col-md-3">
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </dt>
        <dt class="col-md-9">
            @Html.DisplayFor(model => model.Persona.Nombre)
        </dt>
        <dt class="col-md-3">
            @Html.DisplayNameFor(model => model.Persona.Tipo_documento)
        </dt>
        <dt class="col-md-9">
            @Html.DisplayFor(model => model.Persona.Tipo_documento)
        </dt>
        <dt class="col-md-3">
            @Html.DisplayNameFor(model => model.Persona.Documento)
        </dt>
        <dt class="col-md-9">
            @Html.DisplayFor(model => model.Persona.Documento)
        </dt>
    </dl>

</div>