@page
@model Frontend.Pages.PrivacyModel
@{
    ViewData["Title"] = "Bryan";
}
<h1>@ViewData["Title"]</h1>

<p>En esta pagina veremos los datos</p>

<div>
    <a asp-page="./Create">
        <i class="fas fa-plus"></i>
    </a>
</div>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Cliente</th>
        <th>Edad</th>
        <th>Detalles</th>
        <th>Borrar</th>
    </tr>
    @foreach (var Cliente in Model.Clientecitos)
    {
        <tr>
            <td>@Cliente.Id</td>
            <td>@Cliente.Nombre</td>
            <td>@Cliente.Edad</td>
            <td>
                <a asp-page="./Details" asp-route-id="@Cliente.Id">
                    <!-- solid style -->
                    <i class="fas fa-info-circle"></i>
                </a>
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@Cliente.Id">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    }
</table>


