@page
@model ListEmpresas
@{
    ViewData["Title"] = "Empresa";
}
<h1>@ViewData["Title"]</h1>

<p>Listado de Empresas Registradas en localhost.</p>
<br>
<br>
<a class="btn btn-warning" asp-page="./Create"> Crear Registro</a>
<table class="table">
    <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Nit</td>
            <td>Ciudad</td>
            <td>Telefono</td>
            <td>Detalle</td>
            <td>Editar</td>
            <td>Eliminar</td>
            
    </tr>
    
    @foreach (var Empresa in Model.Empresas)
    {
        <tr>
            <td>@Empresa.ID</td>
            <td>@Empresa.Nombre</td>
            <td>@Empresa.Nit</td>
            <td>@Empresa.Ciudad</td>
            <td>@Empresa.Telefono</td>
            <!--Boton de detalle-->
            <td><a class="btn btn-secondary" asp-page="./Details" asp-route-id="@Empresa.ID">
                   <i class="fas fa-info-circle"></i>
            </a></td>
            <!--Boton para editar-->
            <td><a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Empresa.ID">
                <i class="fas fa-user-edit"></i>
            </a></td>
            <!--Boton para eliminar-->
            <td><a class="btn btn-danger" asp-page="./Delete" asp-route-id="@Empresa.ID">
               <i class="fas fa-trash"></i>
            </a></td>
        </tr>
    }
</table>